.nav {
  display: flex;
  border-bottom: 1px solid gainsboro;
  
  @media (max-width: 800px) {
    flex-direction: column;
    border-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
  }
}

.overNav {
  display: flex;
  margin-bottom: 3px;
  
  @media (max-width: 800px) {
    flex-direction: column;
    border-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
  }
}

.category {
  margin: 20px 0 10px 0;
}

.category:first-child {
  margin: 0 0 10px 0;
}