@import '../common/color.scss';

.wrap {
  margin: 2rem 0;
}

.item {
  margin: 20px 0 0 0;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.imageWrap {
  flex-shrink: 0;
  margin-right: 20px;
  width: 50%;
  
  @media (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }  
}

.image {
  display: block;
  width: 100%;
}

.texts {
  width: 100%;
}

.title {
  color: $blue;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.description {
  line-height: 2;
  margin: 16px 0;
}

.button {
  margin: 8px 0;
  display: block;
  color: $blue;
  cursor: pointer;
}