.frameWrap {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.frame {
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  
  // @media (max-width: 800px) {
  //   padding: 60px 20px 20px 20px;
  // }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}