@import '../common/layout.scss';

.wrap {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: $header-height;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

@media (max-width: 800px) {
  .wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav {
    display: none;
  }
}