@import '../common/layout.scss';

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: $header-height;
  // background-color: #988269;
}

.nav {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}