@import '../common/layout.scss';

.wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  &:hover {
    .dropdown {
      display: flex;
    }
  }
}

.item {
  font-size: 14px;
  color: #707070;
}

.dropdown {
  position: absolute;
  top: $header-height;
  padding: 8px;
  display: none;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  border: gainsboro solid 1px;
}